*:not(.icon) {
  font-family: 'Lora', serif !important;
}

.dark-style{
  background-color: #aeb1b3;
}

button.ui.primary.button{
  background-color: #4c96d7 !important;
}

#logo{
 margin: auto;
  
}

.ratings-table{
  width: 80% !important;
  height: min-content !important;
  overflow-y: scroll !important;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
}

.column div.ui.icon.input{
  width: 100%;
}

div.equal.width.row{
  margin: auto;
}

#first-div{
 padding-bottom: 0px;
   /* background: rgb(199,145,153);
background: radial-gradient(circle, rgba(199,145,153,1) 35%, rgba(181,198,145,1) 100%); */

}

.ui.inverted[class*="vertically divided"].grid>.row:before {
  box-shadow: none !important;
}

body, html {
   height: 100% !important;
  /* min-height: 100% !important; */
  width: 100%;
  min-width: min-content;
  
}

.results{
  position: relative;
  max-height: 25em !important;
  overflow-y:scroll;
  
}

#main-search>.ui.search>.results {
  position: relative;
  max-height: 14em !important;
  overflow-y:scroll;
  /* z-index: -1; */
}

#root{
  height: 100%;
} 

#login-background{
  background-color: #dde9c7;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-bottom: -3%;
}

div.accordion.ui.fluid div.active.title{
  padding-bottom: 0px;
}

.maining{
  
}


