*:not(.icon) {
  font-family: 'Lora', serif !important;
  
}

.dark-style{
  background-color: #aeb1b3;
  

}


button.ui.primary.button{
  background-color: #4c96d7 !important;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  position: absolute;
  display: block;
}

/* #rev1{
  position: absolute;
  top: 20%;
  left: 56%;
 
  
}
#rev2{
  position: absolute;
  top: 16%;
  left: 28%;
  
}

#rev3{
  position: absolute;
  top: 2%;
  left: 55%;
  
} */



.second-div{
  margin: 4%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#logo{
 margin: auto;
 z-index: 1;
 position:relative;
  
}

#nav-menu{
  /* background-image: url("../src/images/stockfootage.mp4"); */
  height: 4rem;

}

/* .flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
} */

/* .divsinsideflex{
  margin: 2px;
  text-align: center;
} */

/* .search-box{
  float: left;
  margin: 10px;

  
} */


.ratings-table{
  width: 70% !important;
  height: min-content !important;
  overflow-y: scroll !important;
 
}

.fourth-div{
  background-color: white; 
  /* background-image: linear-gradient(#8FBC8F, #993366);  */
  /* min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin); */
  color: white;
  
}


    
  /* border: solid black; */

#logo-footer{
position: relative;
margin: auto;
  
 
}
#logo-footer-label{
  
  background-color: transparent;
  border: none;
 
 
}


.whole-footer{

  background-color: rgba(161, 151, 170, 0.288) !important;
  width: 100%;

}
.column{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  
}

.column div.ui.icon.input{
  width: 100%;
}



div.equal.width.row{
  margin: auto;
}

.first-div{
  background-image: url("https://media.giphy.com/media/CNCxQqBLygkZhTuRyB/giphy.gif");
  background-position: center; /* Center the image */
   /* Do not repeat the image */

  
 
}

.add-company-modal{

    background-image: url("https://www.clker.com/cliparts/o/Z/Y/a/p/8/green-vines-th.png") !important;
   
    background-position: right !important; /* Center the image */
    background-repeat: no-repeat !important; /* Do not repeat the image */
    /* Resize the background image to cover the entire container */
   
}
